# Ignore everything in the cardano-signer directory
cardano-signer/*

# But do not ignore the specific modified JS files in the src directory
!cardano-signer/src/cardano-signer-modified*.js

# If you want to ignore the rest of the src directory, use this rule
cardano-signer/src/*

# Ignore 'node_modules' directory
node_modules/

# Ignore 'package.json' file (if you don't want it tracked in Git)
package.json

# Ignore 'package-lock.json' file (if you don't want it tracked in Git)
package-lock.json

#Ignore all _ files (my testing files)
_*
